<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>BORODINSKI</title>
</head>

<body>
    <nav>
        <img src="{% static 'image/barber/index-logo.svg' %}" alt="логотип барбершопа">
        <ul>
            <li>Информация</li>
            <li>Новости</li>
            <li>Прайс-лист</li>
            <li>Магазин</li>
            <li>Контакты</li>
        </ul>
        <ul>
            <li><button type="button">Вход</button></li>
        </ul>
    </nav>
    <main>
        <h1>Барбершоп "Бородински"</h1>

        <section>
            <h2>Преймущества</h2>
            <ul>
                <li>
                    <h3>Быстро</h3>
                    <p>Мы делфаем свою роботу быстро! два часа пролетят незаметно и вы - счасливый обладатель стильной
                        стрижки-минутки</p>
                </li>
                <li>
                    <h3>Круто</h3>
                    <p>Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино! Во всяком случае
                        внешне</p>
                </li>
                <li>
                    <h3>Дорого</h3>
                    <p>Наши мастера - профессионалы своего дела и не могут стоить дешево. К тому же, разве цена не дает
                        определенный статус?</p>
                </li>
            </ul>
        </section>

        <section>
            <h3>Новости</h3>
            <ul>
                <li>
                    <p>Нам наконец завезли ягермайстер! Теперь вы можете пропустить стаканчик во время стрижки</p>
                    <time datetime="2019-01-11">11 января</time>
                </li>
                <li>
                    <p>В нашей команде пополнение, Борис "Бритва" Стригунец, обладатель множества титулов и наград
                        пополнил наши стройные ряды</p>
                    <time datetime="2019-01-18">18 января</time>
                </li>
            </ul>
            <a href="#">Все новости</a>
        </section>

        <section>
            <h3>Фотогалерея</h3>
            <figure>
                <a href="#">
                    <img src="{% static 'image/barber/fotogalary.png' %}" alt="">
                </a>
            </figure>
            <button type="button">Назад</button>
            <button type="button">Вперед</button>
        </section>

        <section>
            <h3>Контактная информация</h3>
            <p>
                Барбершоп "Бородинский"<br>
                Адрес: г. Сант-Петербург, б.Конюшенка, д.19/8 <br>
                Телефон: + 7(495)666-02-66 <br>
            </p>
            <p>
                Время роботы: <br>
                ПН-ПТ: с 10:00 до 22:00 <br>
                СБ-ВС: с 10:00 до 19:00 <br>
            </p>
            <a href="#">Как проехать</a>
            <a href="#">Обратная связь</a>
        </section>

        <section>
            <h3>Записатся</h3>
            <p>Укожите желаемую дату и время и мы свяжемся с вами для подтверждения брони</p>
            <form action=""></form>
            <button type="submit">Отправить</button>
        </section>

    </main>
    <footer>
        <p>
            Барбершоп "Бородинсикй" <br>
            Адрес: г. Сант-Петербург, б.Конюшенка, д.19/8 <br>
            <a href="#">Как нас найти?</a>
            Телефон: + 7(495)666-02-66 <br>
        </p>

        <div>
            <p>Давайте дружить!</p>
            <ul>
                <li><a href="#">Вконтакте</a></li>
                <li><a href="#">Фейсбук</a></li>
                <li><a href="#">Инстаграм</a></li>
            </ul>
        </div>

        <p>
            Разработано:
            <a href="#">ZarInk</a>
        </p>
    </footer>

    <section>
        <h2>Личный кабинет</h2>
        <p>Введите свой логин и пароль.</p>
        {#форма входа#}
        <button type="button">Закрить</button>
    </section>

    <section>
        <h2>Как до нас добратся</h2>
        <button type="button">Закрыть</button>
    </section>

</body>
</html>