<!DOCTYPE html>
<html lang="ru">
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'device/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'device/css/index.css' %}">
<link rel="stylesheet" href="{% static 'device/css/nav.css' %}">
<link rel="stylesheet" href="{% static 'device/css/slider.css' %}">
<link rel="stylesheet" href="{% static 'device/css/services.css' %}">
<link rel="stylesheet" href="{% static 'device/css/footer.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Device</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <a href="{% url 'index_device' %}">
                <img class="nav-logo" src="{% static 'image/device/logo.png' %}" alt="Логотип Девайс">
            </a>
            <div class="nav-top-wrapper">
                <div class="search-wrap">
                    <input class="search-input" type="search" placeholder="Поиск по сайту"  >
                    <button class="search-button">Найти</button>
                </div>
                <div class="login">
                    <a class="link" href="#" >Войти</a>
                </div>
                <div class="compare">
                    <a class="link" href="#">Сравнить</a>
                </div>
                <div class="cart">
                    <a class="link" href="#">Корзина</a>
                </div>
            </div>
            <ul class="navigation-line font-gilroy-extrabold">
                <button id="catalog-button" class="catalog-button font-gilroy-extrabold" type="button">
                    <li class="catalog-list">Каталог товаров</li>
                </button>
                <li class="delivery-list">
                    <a class="link" href="#">Доставка</a>
                </li>
                <li class="garant-list">
                    <a class="link" href="#">Гарантия</a>
                </li>
                <li>
                    <a class="link"href="#">Контакты</a>
                </li>
            </ul>
            <ul class="catalog-hidden visually-hidden">
                <li>Виртуальная реальность</li>
                <li>Моноподы для селфи</li>
                <li>Экшн-камеры</li>
                <li></li>
                <li>Фитнес-браслеты</li>
                <li>Умные часы</li>
                <li></li>
                <li></li>
                <li>Квадрокоптеры</li>
            </ul>
        </nav>
    </header>
    <main>
        {#слайдер#}
        <section class="slider">
            <div class="slide visually-hidden">
                <div class="img-wrap">
                    <img class="slide-img" src="{% static 'image/device/slider-1.png' %}" alt="Селфи палка">
                </div>
                <div class="descript-wrapp">
                    <span class="slide-number">01</span>
                    <h2 class="slider-title">
                        Делай селфи, <br>
                        как Бен Стиллер!
                    </h2>
                    <p class="slider-text">
                        Самая длинная палка для селфи доступна в нашем магазине. <br>
                        Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.
                    </p>
                    <div class="slider-navigation-block">
                        <a class="button" href="#">Подробнее</a>
                        <ul class="slider-position">
                            <li class="pos current"></li>
                            <li class="pos "></li>
                            <li class="pos"></li>
                        </ul>
                    </div>
                    <table class="parametr-table">
                        <tr class="parametr">
                            <td>8.5 м</td>
                            <td>5 кг</td>
                            <td>Карбон</td>
                        </tr>
                        <tr>
                            <td>Длина палки</td>
                            <td>Вес палки</td>
                            <td>Материал</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="slide ">
                <div class="img-wrap">
                    <img class="slide-img" src="{% static 'image/device/slider-2.png' %}" alt="Фитнес браслет">
                </div>
                <div class="descript-wrapp">
                    <span class="slide-number">02</span>
                    <h2 class="slider-title">
                        Худеем правильно!
                    </h2>
                    <p class="slider-text">
                        Мотивирующие фитнес-браслеты помогут найти в себе силы <br>
                        не пропускать занятия и соблюдать диету.
                    </p>
                    <div class="slider-navigation-block">
                        <a class="button" href="#">Подробнее</a>
                        <ul class="slider-position">
                            <li class="pos"></li>
                            <li class="pos current"></li>
                            <li class="pos"></li>
                        </ul>
                    </div>
                    <table class="parametr-table">
                        <tr class="parametr">
                            <td>48 часов</td>
                        </tr>
                        <tr>
                            <td>Без подзарядки</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="slide visually-hidden">
                <div class="img-wrap">
                    <img class="slide-img" src="{% static 'image/device/slider-3.png' %}" alt="Квадрокоптер">
                </div>
                <div class="descript-wrapp">
                    <span class="slide-number">03</span>
                    <h2 class="slider-title">
                        Порхает как бабочка, <br>
                        жалит как пчела!
                    </h2>
                    <p class="slider-text">
                        Этот обычный, на первый взгляд, квадрокоптер оснащен мощным
                        лазером, замаскированным под стандартную камеру.
                    </p>
                    <div class="slider-navigation-block">
                        <a class="button" href="#">Подробнее</a>
                        <ul class="slider-position">
                            <li class="pos"></li>
                            <li class="pos"></li>
                            <li class="pos current"></li>
                        </ul>
                    </div>
                    <table class="parametr-table">
                        <tr class="parametr">
                            <td>800 м</td>
                            <td>50 м</td>
                        </tr>
                        <tr>
                            <td>Дальность полета</td>
                            <td>Радиус поражения</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        {# Популярные #}
        <section class="popular">
            <h1 class="visually-hidden">Популярное</h1>
            <ul class="popular-list">
                <li class="popular-item">
                    <a href="#">
                        <div class="popular-image-wrapper">
                            <img  class="popular-image-1" src="{% static 'image/device/popular-1.svg' %}"
                              alt="лого Виртуальная реальность">
                        </div>
                        <p class="popular-description">Виртуальная реальность</p>
                    </a>
                </li>
                <li class="popular-item">
                    <a href="#">
                        <div class="popular-image-wrapper">
                            <img class="popular-image-2" src="{% static 'image/device/popular-2.svg' %}"
                                 alt="лого Моноподы для селфи">
                        </div>
                        <p class="popular-description">Моноподы для селфи</p>
                    </a>
                </li>
                <li class="popular-item">
                    <a href="#">
                        <div class="popular-image-wrapper">
                            <img class="popular-image-3" src="{% static 'image/device/popular-3.svg' %}"
                                 alt="лого Экшн-камеры">
                        </div>
                        <p class="popular-description">Экшн-камеры</p>
                    </a>
                </li>
                <li class="popular-item">
                    <a href="#">
                        <div class="popular-image-wrapper">
                            <img class="popular-image-4" src="{% static 'image/device/popular-4.svg' %}"
                                 alt="лого Фитнес-браслеты">
                        </div>
                        <p class="popular-description">Фитнес-браслеты</p>
                    </a>
                </li>
                <li class="popular-item">
                    <a href="#">
                        <div class="popular-image-wrapper">
                            <img class="popular-image-5" src="{% static 'image/device/popular-5.svg' %}"
                                 alt="лого Умные часы">
                        </div>
                        <p class="popular-description">Умные часы</p>
                    </a>
                </li>
                <li class="popular-item">
                    <a href="#">
                        <div class="popular-image-wrapper">
                            <img class="popular-image-6" src="{% static 'image/device/popular-6.svg' %}"
                                 alt="лого Квадрокоптеры">
                        </div>
                        <p class="popular-description">Квадрокоптеры</p>
                    </a>
                </li>
            </ul>
        </section>
        {# Услуги #}
        <section class="services">
            <div class="services-wrapper">
                <h1 class="visually-hidden">Услуги</h1>
                <div class="services-colum-menu">
                    <button class="button delivery-button current-services" type="button">Доставка</button>
                    <button class="button garanty-button" type="button">Гарантия</button>
                    <button class="button credit-button" type="button">Кредит</button>
                </div>
                <div class="services-colum ">
                    <div class="description">
                        <h2 class="services-title">Доставка</h2>
                        <p class="services-description">
                            Мы с удовольствием доставим ваш товар прямо к вашему подъезду совершенно бесплатно! Ведь мы
                            неплохо заработаем, поднимая его на ваш этаж.
                        </p>
                    </div>
                    <img class="services-logo" src="{% static 'image/device/delivery.png' %}" alt="Доставка">
                </div>
                <div class="services-colum visually-hidden">
                    <div class="description">
                        <h2 class="services-title">Гарантия</h2>
                        <p class="services-description">
                            Если из-за возгорания купленного у нас товара у вас сгорит дом — не переживайте, мы выдадим вам
                            новый. Товар, не дом, конечно же.
                        </p>
                    </div>
                    <img class="services-logo" src="{% static 'image/device/warranty.svg' %}" alt="Гарантия">
                </div>
                <div class="services-colum visually-hidden">
                    <div class="description">
                        <h2 class="services-title" >Кредит</h2>
                        <p class="services-description">
                            Залезть в долговую яму стало проще! Кредитные консультанты подберут для вас наиболее выгодные
                            условия кредита. Выгодные для нашего банка, разумеется.</p>
                    </div>
                    <img class="services-logo" src="{% static 'image/device/credit.svg' %}" alt="Кредит лого">
                </div>
            </div>
        </section>
        {# логотипи #}
        <section>
            <ul class="firm-logo-wrap">
                <a href="#"><li class="firm-logo">
                    <img src="{% static 'image/device/logo-1.png' %}" alt="логотип 1">
                </li></a>
                <a href="#"><li class="firm-logo">
                    <img src="{% static 'image/device/logo-2.png' %}" alt="логотип 2">
                </li></a>
                <a href="#"><li class="firm-logo">
                    <img src="{% static 'image/device/logo-3.png' %}" alt="логотип 3">
                </li></a>
                <a href="#"><li class="firm-logo">
                    <img src="{% static 'image/device/logo-4.png' %}" alt="логотип 4">
                </li></a>
            </ul>
        </section>
        {# О нас #}
        <div class="about-wrap">
            <section class="about-colum">
                <h2 class="about-title">О нас</h2>
                <p>
                    Огромный выбор гаджетов не оставит равнодушным гика, который есть в каждом из нас.
                </p>
                <p>
                    Мы можем доставить ваш товар в самые отдаленные точки России! DEVICE работает со многими
                    транспортными компаниями:
                </p>
                <ul class="about-list">
                    <li class="about-item">Деловые Линии</li>
                    <li class="about-item">Автотрейдинг</li>
                    <li class="about-item">ЖелДорЭкспедиция</li>
                </ul>
                <a class="button bottom-button" href="#">Подробнее о нас</a>
            </section>
            {# Контакты #}
            <section class="about-colum">
                <h2 class="about-title">Контакты</h2>
                <p>
                    Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете проверить работоспособность покупки.
                    Всякое бывает.
                </p>
                <img class="map-image" src="{% static 'image/device/map.jpg' %}" alt="Карта">
                <a class="button bottom-button" href="#">Напиши нам</a>
            </section>
        </div>
    </main>

    <footer>
        <div class="footer-container">
        <div class="footer-row-nav">
            <a class="footer-logo-link" href="#">
                <img class="footer-logo" src="{% static 'image/device/logo-footer.png' %}" alt="логотип">
            </a>
            <div class="footer-nav-container">
                <div class="footer-login">
                    <a class="footer-link" href="#" >Войти</a>
                </div>
                <div class="footer-compare">
                    <a class="footer-link" href="#">Сравнить</a>
                </div>
                <div class="footer-cart">
                    <a class="footer-link" href="#">Корзина</a>
                </div>
            </div>
        </div>
        <div class="footer-row-nav">
            <p class="footer-text">г. Москва, ул. Строителей, 15</p>
            <ul class="footer-services">
                <li class="footer-services-item"><a href="#">Доставка</a></li>
                <li class="footer-services-item"><a href="#">Гарантия</a></li>
                <li class="footer-services-item"><a href="#">Контакты</a></li>
            </ul>
            <p class="footer-text">Тел.: +7 (495) 495-95-95</p>
        </div>
        <div class="footer-row-nav">
            <div class="footer-yellow-line"></div>
            <div class="footer-social-list">
                    <a class="footer-social" href="#">
                        <img  src="{% static 'image/device/fb.svg' %}" alt="ss">
                    </a>

                    <a class="footer-social" href="#">
                        <img src="{% static 'image/device/vk.svg' %}" alt="">
                    </a>

                     <a class="footer-social"  href="#">
                        <img src="{% static 'image/device/twitter.svg' %}" alt="">
                    </a>
            </div>
            <a href="">
                <img class="footer-school-logo" src="{% static 'image/device/logo-html.svg' %}" alt="">
            </a>
        </div>

    </div>
    </footer>

        {# Форма письма #}
        <section class="modal modal-form visually-hidden">
            <form action="POST">
                <lable>Ваше имя:</lable>
                <input type="text" placeholder="Имя Фамилия">
                <lable>Ваш e-mail:</lable>
                <input type="text" placeholder="email@example.com">
                <lable>Текст письма:</lable>
                <input type="text" placeholder="В свободной форме">
                <button type="submit">Отправить</button>
            </form>
        </section>

        <section class="modal modal-map">
            <img src="{% static 'image/device/map-big.png' %}" alt="">
        </section>

</body>
</html>