.nav-logo{
    height: 40px;
    width: 170px;

    position: relative;
    top: -24px;
    right: 0px;

}

.nav-logo:hover{
    opacity: 0.5;
}

.nav-logo:active{
    opacity: 0.2;
}

.nav-bar{
    min-height: 300px;
    width: 1160px;

    margin: 0 auto;
    margin-top: 44px;
    padding: 0 60px;

    background-color: #f7e296 ;
}

.nav-top-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-wrap{
    position: relative;
    padding-left: 24px;
    width: 500px;
}

.search-wrap::before{
    content: "";

    position: absolute;
    top: 12px;
    left: 0px;

    width: 18px;
    height: 18px;

    background-image: url("/static/image/device/search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-input{
    background: transparent;
    border: none;
    font: inherit;
    opacity: 0.3;
    width: 400px;

    padding: 0;
    padding-bottom: 3px;
}

.search-input:hover{
    opacity: 0.5;
}

.search-input:focus{
    outline: none;
    border-bottom: 3px solid black;
    opacity: 1;
}

.search-button{
    background: transparent;
    padding: 10px;
    border: 3px solid black;

    position: relative;
    right: 5px;
}

.search-button:hover{
    background: black;
    color: white;
}

.search-button:active{
    color: #cccccc;
}

.login{
    position: relative;
    padding-left: 50px;
    width: 280px;
    padding-top: 5px;

}

.login::before{
    content: "";

    position: absolute;
    top: 13px;
    left: 24px;

    width: 18px;
    height: 18px;

    background-image: url("/static/image/device/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.compare,
.cart{
    position: relative;
    padding-left: 50px;
    padding-top: 5px;
}

.compare::before{
    content: "";

    position: absolute;
    top: 13px;
    left: 24px;

    width: 18px;
    height: 18px;

    background-image: url("/static/image/device/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cart::before{
    content: "";

    position: absolute;
    top: 13px;
    left: 24px;

    width: 18px;
    height: 18px;

    background-image: url("/static/image/device/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.navigation-line{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;

}

.catalog-list{
    padding-right: 30px;

    position: relative;
}

.catalog-list::after{
    content: "";
    position: absolute;
    top: 2px;
    right: -2px;

    width: 16px;
    height: 16px;

    background-image: url("/static/image/device/plus.svg");

}

.delivery-list{
    position: relative;
    right: -142px;
    
}

.garant-list{
    position: relative;
    right: 20px;
}

.catalog-hidden{
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;

}

.catalog-hidden li{
    width: 242px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.catalog-button{
    font-family: inherit;
    background: transparent;
    border: 0;
}

a.link:active,
a.link:hover,
a.link{
    text-decoration: none;
    color: black;
}

a.link:hover,
button.catalog-button:hover{
    opacity: 0.5;
}

a.link:active,
button.catalog-button:active{
    opacity: 0.2;
}

